{% extends "maintemplate.html" %}

{% block title %}صفحه ورود|فروشگاه سوپرمارکتی{% endblock title %}

{% block content %}






		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">خانه</a>
									/
								</li>
								<li class="breadcrumb-item">
									<a href="#">حساب کاربری</a>
									/
								</li>
								<li class="active" aria-current="page">ورود به حساب کاربری</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title d-flex justify-content-center">
						<h1>ورود به حساب کاربری</h1>
					</div>
				</div>
			</div>
			<div class="block">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-6">
							<div class="card flex-grow-1 mb-md-0">
								<div class="card-body">
									<h3 class="card-title">ورود</h3>
									<form action="" method='post'>
										<div class="form-group">
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <small class="form-text text-muted"><a href="{% url "account:GetMobileNumberForChangePassword_view" %}">فراموشی رمز عبور</a></small></div>
											<span>ایا تا بحال ثبت نام نکرده اید؟ &nbsp <a href="{% url "account:register_view" %}">ثبت نام</a></span>
										</div>
										<button type="submit" class="btn btn-primary mt-4">ورود</button>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->



{% endblock content %}