{% extends "user_panel_template.html" %}

{% block title %}
    ویرایش پروفایل
{% endblock title %}

{% block content %}

<div class="block">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class='col-md-9'>
                <div class='card flex-grow-1 mb-md-0'>
                    <div class='card-body'>
                        <h3 class='card-title'>ویرایش پروفایل</h3>
                        <form action="" method='post' enctype='multipart/form-data'>
                            {% csrf_token %}
                            {{form}}
                            <img src="{{media_url}}{{image_url}}" style='width:100px; height: 100px;' alt="">
                            <div class="form-group">
                                <button type='submit' class='btn btn-primary mt-4'>اعمال تغیرات</button>
                                <a href="{% url "account:userpanel_view" %}" class='btn btn-info mt-4'>انصراف</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}