{% if products %}
    <div class='container'>
        <h5 style='text-align:center; color:green;'>
            <table class='table table-bordered'>
                <tr style='background:#f1f1f1; text-align:center;'>
                    <th>کالا/ویژگی کالا</th>
                    {% for product in products %}
                        <th>
                            <i class='fa fa-trash' style='cursor: pointer;' onclick="delete_from_compare_list({{product.id}})"></i>
                            {{product.product_name}}
                        </th>
                    {% endfor %}
                </tr>
                {% for feature in features %}
                    <tr>
                        <td style='font-size:1.2rem; font-weight: 900px; width:25%;'>{{feature}}</td>
                        {% for product in products %}
                            <td style='text-align:center;'>
                                {% for item in product.product_features.all %}
                                    {% if item.feature == feature %}
                                        <span style='margin: 5px;'>{{item.filter_value.value_title}}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </h5>
    </div>
    {% else %}
    <div class='container'>
        <h2 style='text-align:center; color:green;padding: 100px;'>کالایی برای مقایسه وجود ندارد</h2>
    </div>
{% endif %}