<div id="accordion">
    <b>فیلتر بر اساس ویژگی</b>
    {% for key,value in feature_dict.items  %}
    {% if value %}           
      <div class="card" style="border: none; color:#868686;">
          <div class="card-header" style="padding:0 0 10px;">
            <a class="card-link" data-toggle="collapse" href="#collapseOne{{key.id}}">
              <button type="button" class="filter__title" data-collapse-trigger style="color:#000;">
                {{key}}
                <svg class="filter__arrow" xmlns="http://www.w3.org/1999/svg" xmlns:xlink="http://www.w3.org/2000/xlink" version="1.1" width="32" height="32" viewBox="0 0 256 256" xml:space="preserve">
                  <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) ">
                    <path d="M 90 24.25 c 0 -0.896 -0.342 -1.792 -1.025 -2.475 c -1.366 -1.367 -3.583 -1.367 -4.949 0 L 45 60.8 L 5.975 21.775 c -1.367 -1.367 -3.583 -1.367 -4.95 0 c -1.366 1.367 -1.366 3.583 0 4.95 l 41.5 41.5 c 1.366 1.367 3.583 1.367 4.949 0 l 41.5 -41.5 C 89.658 26.042 90 25.146 90 24.25 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                  </g>
                </svg>
              </button>
            </a>
          </div>
          <div id="collapseOne{{key.id}}" class="collapse" data-parent="#accordion">
            <div class="card-body" style="padding: 0;">
              
              {% for item in value %}
                <label class="filter-list__item">
                  <span class="filter-list__input input-check">
                    <span class="input-check__body">
                      <input id="item_{{item.id}}" name="faeture" value="{{item.id}}" type="checkbox" class="input-check__input" />
                      <span class="input-check__box"></span>
                      <svg class="input-check__icon" width="9px" height="7px">
                        <use xlink:href="{{media_url}}images/sprite.svg#check-9x7"></use>
                      </svg>
                    </span>
                  </span><span class="filter-list__title">{{item.value_title}}</span>
                </label>
              {% endfor %}
            </div>
          </div>
      </div>
    {% endif %}
    {% endfor %}
</div>
