{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
	<!-- css -->
	<link rel="stylesheet" href="{% static "vendor/bootstrap-4.5.3/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<!-- js -->
	<script src="{% static "vendor/jquery-3.3.1/jquery.min.js" %}"></script>
	<script src="{% static "vendor/bootstrap-4.5.3/js/bootstrap.bundle.min.js" %}"></script>
	<script src="{% static "vendor/owl-carousel-2.3.4/owl.carousel.min.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
	<script src="{% static "js/myscript.js" %}"></script>
	<!-- font - fontawesome -->
	<link rel="stylesheet" href="{% static "vendor/fontawesome-5.6.3/css/all.min.css" %}">
</head>
<body>
    {% include "partioals/header.html" %}
	{% include "partioals/message.html" %}

    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../index.html">خانه</a>
                                /
                            </li>
                            <li class="breadcrumb-item"><a href="">داشبورد</a>
                                
                            </li>
                            
                        </ol>
                    </nav>
                </div>
                <div class="page-header__title">
                    <h1>حساب کاربری</h1></div>
            </div>
        </div>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3 d-flex">
                        <div class="account-nav flex-grow-1">
                            <h4 class="account-nav__title">ناوبری</h4>
                            <ul>
                                <li class="account-nav__item account-nav__item--active"><a href="user-dashboard.html">داشبورد</a></li>
                                <li class="account-nav__item"><a href="{% url "account:update_profile" %}">ویرایش پروفایل</a></li>
                                {% comment %} <li class="account-nav__item"><a href="orders-records.html">سابقه خرید</a></li> {% endcomment %}
                                <li class="account-nav__item"><a href="{% url "account:changepassword_view" %}">تغییر رمز عبور</a></li>
                                <li class="account-nav__item"><a href="{% url "account:logout_view" %}">خروج</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    {% include "partioals/footer.html" %}
    {% include "partioals/scripts.html" %}


</body>
</html>
