<div class="block-header">
    <h3 class="block-header__title">{{title}}</h3>
    <div class="block-header__divider"></div>
    <ul class="block-header__groups-list">
    </ul>
    <div class="block-header__arrows-list">
        {% comment %} <button class="block-header__arrow block-header__arrow--left" type="button">
            <i class="fas fa-angle-right"></i>
        </button>
        <button class="block-header__arrow block-header__arrow--right" type="button">
            <i class="fas fa-angle-left"></i>
        </button> {% endcomment %}
    </div>
</div>

